@function toPercent($px, $from: 100) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}

@function toVW($px, $from: $maxWidth) {
    $result: math.div($px, $from) * 100vw;
    @return $result;
}

@function adaptiveSize($minSize: 16, $maxSize, $minViewportWidth: 320, $maxViewportWidth: 1920) {
    $resultSize: calc(
        #{$minSize}px + ($maxSize - $minSize) *
            ((100vw - #{$minViewportWidth}px) / ($maxViewportWidth - $minViewportWidth))
    );
    @return $resultSize;
}
