.header {
    background-color: $darkColor-05;
    position: sticky;
    width: 100%;

    // .header__container

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    // .header__top

    &__top {
        padding: 31px 0 25px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &:not(:last-child) {
            border-bottom: 1px solid #e3e3e3;
        }
    }

    // .header__bottom

    &__bottom {
    }
    & .logo {
        flex-basis: 180px;
        margin-left: toVW(198);
        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }
}
.search-btn {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-color: $darkColor;
    mask: url("../img/icons/search.svg") center / contain no-repeat;
    transition: background-color 0.3s;
    @media (any-hover) {
        &:hover {
            background-color: $primaryColor;
        }
    }
}
.logo {
    font-family: "AmstelvarAlpha", serif;
    font-size: 28px;
    color: $blackTextColor;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    &::before,
    &::after {
        content: "";
        width: 31px;
        height: 15px;
        flex-shrink: 0;
        background: url("../img/decor/logo-decor.svg") center / contain no-repeat;
    }
}
.actions {
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    column-gap: 22px;

    // .actions__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: 8px;
        @media (any-hover) {
            &:hover {
                .actions__text {
                    color: $primaryColor;
                }
                .actions__img {
                    fill: $primaryColor;
                }
            }
        }
    }

    // .actions__img

    &__img {
        width: 20px;
        height: 19px;
        flex-shrink: 0;
        fill: $darkColor;
        transition: fill 0.3s;
    }

    // .actions__text

    &__text {
        transition: color 0.3s;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
.navigation {
    // .navigation__list

    &__list {
        font-family: "Open Sans", sans-serif;
        line-height: 1.5;
        text-transform: capitalize;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    // .navigation__item

    &__item {
    }

    // .navigation__link

    &__link {
        transition: color;
        @media (any-hover) {
            &:hover {
                color: $primaryColor;
            }
        }
    }
}
