%sectionTitle {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: $blackTextColor;
}
@mixin fontParams($fontSize, $fontWeight: inherit, $lineHeight: inherit) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}
