%underlineEffect {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $blackTextColor;
    transition: width 0.3s;
}

%sectionTitle {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: $blackTextColor;
}
@mixin fontParams($fontSize, $fontWeight: inherit, $lineHeight: inherit) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}
