@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 600;
    color: #2B2929;
    background-color: #f8f8f8;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

[class$="container"] {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 15px;
}

.wrapper>main {
    flex-grow: 1;
}

.section-title {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.section-title__link {
    font-size: 19px;
    line-height: 1.26;
    color: #FFBC57;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;

}

.section-title__link::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 1px;
    width: 95%;
    transition: background-color 0.5s;
}

.section-title__link:hover::before {
    background-color: #FFBC57;
}

.section-title__link::after {
    content: "";
    width: 1.263em;
    height: 1.263em;
    background: url("../img/products/arrow.svg")center/cover no-repeat;
}

/* header */
/* header-top---------------------- */
.header__top {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    color: #535353;

}

.header__top-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    flex-basis: content;
    flex-grow: 1;
}

.navigation__item {}

.navigation__link {}

.messages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

.messages__text {}

.messages__list {
    display: flex;

    column-gap: 10px;
}

.messages__item {
    display: flex;
    align-items: center;
}

.messages__link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.messages__link--whatsapp {
    background-image: url("../img/icons/whatsapp.svg");
}

.messages__link--telegram {
    background-image: url("../img/icons/telegram.svg");
}

.messages__link--viber {
    background-image: url("../img/icons/viber.svg");
}

.language-selection {
    background-color: inherit;
    font-family: "ProximaNova", sans-serif;
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
}

/* heder middle---------------------------------- */
.header__middle {
    padding: 25px 0;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F8F8F8;
}

.header__middle-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 34px;
}

.logo {
    flex-basis: 250px;
    height: 50px;
    flex-shrink: 0;
    background: url("../img/icons/logo-header.svg") center/contain no-repeat;
}

.header__actions {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 30px;
}

.header__btn {
    flex-basis: 145px;
    align-self: center;
}

.btn {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.263;
    padding: 11px 20px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn--yellow {
    background-color: #FFBC57;
}

.btn--icon::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icons/menu-catalog.svg")center / contain no-repeat;
    flex-shrink: 0;
}

.btn__text {
    / vertical-align: middle;
}

.search-form {
    flex-basis: 421px;
    display: flex;
}

.search-form__input-block {
    width: 100%;
    position: relative;
}

.search-form__input {
    padding: 10px 39px 10px 15px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    background-color: #FFFFFF;

}

.search-form__input-block::after {
    content: "";
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: url("../img/icons/search.svg") center/cover no-repeat;
}

.header__contacts {
    display: flex;
    column-gap: 10px;
    flex-basis: 230px;
}

.header-contacts__link {
    flex-basis: 50px;
    height: 50px;
    /* 50/230 */
    border-radius: 50%;
    background: url("../img/icons/icon-tel.svg") center/contain no-repeat;
}


.header-contacts__content-block {
    flex-basis: 136px;
    /* text-align: center; */
}

.header-contacts__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    color: #535353;
}

.header-contacts__select {
    font-family: "ProximaNova", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    color: #2B2929;


}

.header__user-preferences {}

.user-preferences {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.user-preferences__link {
    flex-basis: 50px;
    height: 50px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.user-preferences__link--selected {
    background-image: url("../img/icons/selected-colored.svg");
}

.user-preferences__link--cart {
    background-image: url("../img/icons/cart-colored.svg");
}


/* header bottom----------------------------- */
.header__bottom {
    padding: 18px 0;
    background-color: #FFFFFF;
    line-height: 1.26;
}

.header__bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.promotions-nav {
    flex-basis: 464px;


}

.promotions-nav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.promotions-nav__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.promotions-nav__item::before {
    content: "";
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promotions-nav__item--star.promotions-nav__item::before {
    background-image: url("../img/icons/star.svg");
}

.promotions-nav__sales.promotions-nav__item::before {
    background-image: url("../img/icons/sale.svg");
}

.promotions-nav__item--credit.promotions-nav__item::before {
    background-image: url("../img/icons/credit.svg");
}

.promotions-nav__link {}

.products-nav {
    flex-basis: 715px;
}

.products-nav__menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.products-nav__item {}

.products-nav__link {}

/* Categories-section */
.categories-section {
    padding-top: 70px;
}

.categories-section__container>*:not(:last-child) {
    margin-bottom: 40px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 10px;
}

.category-card {
    flex-basis: 250px;
    max-height: 300px;
    border-radius: 8px;
    position: relative;
    background: url("../img/categories/frame.svg")bottom/100% no-repeat, #ffffff;
    transition: box-shadow 0.3s;
}

.category-card:hover {
    box-shadow: 0px 0px 20px #d1cfcf;
}

.category-card__link {
    width: 100%;
    height: 100%;
}

.category-card__title-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.4;
}

.category-card__title {
    flex-basis: 70%;

}

.category-card__amount {
    flex-basis: 30%;
    color: #B1B1B1;
    text-align: end;
}

.category-card__image {
    width: 100%;
}


.category-card__extra-link {
    border-radius: 50%;
    width: 20%;
    /* 50/250 */
    height: 16.67%;
    /* 50/300 */
    background-image: url("../img/categories/arrow-in-circle.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s;
}

.category-card__extra-link:hover {
    background-color: rgba(209, 207, 207, 0.5);
}

/* Products-section */
.products-section {
    padding-top: 70px;
}

.products-section__container>*:not(:last-child) {
    margin-bottom: 40px;
}

.products-section__title {}




.products-section__collection {}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}


.product {
    flex-basis: 300px;
    min-height: 468px;

    border-radius: 8px;
    border: 1px solid #E3E2E2;
    background: #FFF;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0px 0px 20px #d1cfcf;
}

.product__image-link {
    width: 100%;
    height: 100%;
}

.product__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px;

}

.product__img-block {
    height: 51.64%;
    border-radius: 8px;
    background-color: #d1cfcf;
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.product__params {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
    color: #535353;
}

.product__title {
    line-height: 1.26;
    flex-basis: 52px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.product__availability {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.product__availability::before {
    content: "";
    width: 1.84em;
    /* 24/13 */
    height: 1.84em;
    background: url("../img/products/check.svg")center/contain no-repeat;
}

.product__footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.product__price-block {
    flex-basis: 103px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product__price {
    font-size: 20px;
    line-height: 1.4;
}

.product__price.product__price--crosed-out {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.47;
}

.product__price--crosed-out {
    text-decoration: line-through;
}

.product__price--red {
    color: #E03D3D;
}

.product__btn {
    flex-basis: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: scale 0.3s;
}

.product__btn--cart {
    background-image: url("../img/products/cart.svg");
}

.product__btn--selected {
    background-image: url("../img/products/selected.svg");
}

.product__btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #d1cfcf;
}

.product__btn.product__btn--cart:hover {
    box-shadow: 0px 0px 5px #f5c173;
}