@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000001;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 1304px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__container {
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 7px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -3px;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.navigation__item {
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.navigation__item:hover {
  background-color: #6f00a9;
}
.social {
  -ms-flex-preferred-size: 7.6687116564%;
      flex-basis: 7.6687116564%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}
.social__link {
  width: 20px;
  height: 20px;
}
.social__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger-menu-btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .burger-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: relative;
}
.burger-menu-btn span::before, .burger-menu-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}
.burger-menu-btn span::before {
  top: 400%;
}
.burger-menu-btn span::after {
  bottom: 400%;
}

.burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  padding-top: 130px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
}
.burger-menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background-color: #000001;
}
@media (max-width: 991.98px) {
  .burger-menu::before {
    height: 87px;
  }
}
.burger-menu.burger-menu--opened {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 991.98px) {
  .burger-menu {
    padding-top: 87px;
  }
}
.burger-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  overflow: auto;
}
.burger-menu .navigation {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.burger-menu .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero {
  padding-top: 20px;
  padding-bottom: 80px;
}
.hero__wrapper {
  padding-top: 120px;
  overflow: hidden;
  position: relative;
}
.hero__wrapper::before, .hero__wrapper::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 480px;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
.hero__wrapper::before {
  left: -150px;
  top: -114px;
}
.hero__wrapper::after {
  right: -74px;
  bottom: -135px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__content {
  -ms-flex-preferred-size: 45.8398744113%;
      flex-basis: 45.8398744113%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 20px;
}
.hero__subtitle {
  line-height: 1.11;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  position: relative;
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 10px;
}
.hero__subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 126.67%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
.hero__title {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__text {
  line-height: 2.22;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}
.hero__btn {
  padding: 15px 60px;
  background-color: #6f00a9;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 900;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.hero__btn:hover {
  background-color: #0b0045;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.hero__picture {
  -ms-flex-preferred-size: 48.3516483516%;
      flex-basis: 48.3516483516%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  position: relative;
}
.hero__image-wrap--pr {
  width: 17.8571428571%;
  position: absolute;
  top: 22px;
  left: 56px;
  z-index: 2;
}
.hero__image-wrap--pr .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hero__image-wrap--ar {
  width: 11.3636363636%;
  height: 12.987012987%;
  position: absolute;
  top: 86px;
  right: 82px;
  z-index: 2;
}
.hero__image-wrap--ar .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.hero__image-wrap--man {
  width: 61.038961039%;
  height: 508px;
  position: absolute;
  left: 21.1038961039%;
  bottom: -10px;
  z-index: 3;
}
.hero__image-wrap--man .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
  aspect-ratio: 376/508;
}
.hero__image-wrap--lightning-left {
  -ms-flex-preferred-size: 316px;
      flex-basis: 316px;
  height: 354px;
}
.hero__image-wrap--lightning-left .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right bottom;
     object-position: right bottom;
  aspect-ratio: 316/354;
}
.hero__image-wrap--lightning-right {
  -ms-flex-preferred-size: 286px;
      flex-basis: 286px;
  height: 322px;
}
.hero__image-wrap--lightning-right .hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left bottom;
     object-position: left bottom;
  aspect-ratio: 286/322;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.about__container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about__content {
  margin: 0 auto;
  max-width: 88.1901840491%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 60px;
}
.about__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}
.about__title {
  position: relative;
}
.about__title::after {
  content: "";
  width: 133%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
  position: absolute;
  bottom: -20px;
  left: -16.61%;
}
.about__text {
  line-height: 2.222;
  letter-spacing: -0.36px;
  text-transform: capitalize;
  text-align: center;
  max-width: 992px;
}
.section-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.167;
  text-transform: uppercase;
}

.experiences {
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.experiences__list {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: runnin-line 8s infinite linear backwards;
          animation: runnin-line 8s infinite linear backwards;
}
@-webkit-keyframes runnin-line {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes runnin-line {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.experiences__item {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.experiences__item:not(:last-child):after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}