@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 19px;
    line-height: 1.26;
    font-weight: 600;
    color: #2B2929;
    background-color: #f8f8f8;
    user-select: none;
}

body *:focus-visible {
    outline: 2px double #FFBC57;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class$="container"] {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 15px;
}

/* button */

.btn {
    min-width: 100px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 11px 20px;
    line-height: 1;
}

.btn--yellow {
    background-color: #FFBC57;
    color: #FFFFFF;
}

.btn--icon::before {
    content: "";
    width: 24px;
    height: 24px;
    background: transparent center / contain no-repeat;
}

/* ----------------------- */
.header {}


/* TOP header */
.header__top {}

.header__top-container {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #535353;
    display: flex;
    justify-content: space-between;
    gap: 10px 30px;
}

.navigation {
    flex-basis: 560px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.navigation__item {}

.navigation__link {
    transition: color 0.3s;
}

@media(max-width:991.98px) {
    .navigation__list {
        column-gap: 15px;
    }
}

@media(max-width:767.98px) {
    .header__top {
        display: none;
    }
}

.header__top-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px 30px;
}

.messengers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.messengers__text {}

.messengers__list {
    display: flex;
    column-gap: 10px;
}

.messengers__item {
    flex-basis: 30px;
    flex-shrink: 0;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.messengers__link {
    width: 100%;
    height: 100%;
}

.messengers__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.languages {
    position: relative;
}

.languages:has(>.languages__list:target) .languages__choice-link::after {
    transform: rotate(-90deg);
}

.languages__choice-link {
    display: flex;
    align-items: center;
}

.languages__choice-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icons/arrow.svg") center / contain no-repeat;
    transition: transform 0.s;
}


.languages__list {
    position: absolute;
    left: 0;
    top: 115%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #b8b5b5;
    display: none;
}

.languages__list:target {
    display: block;
}

.languages__item:not(:last-child) {
    margin-bottom: 5px;
}

.languages__link {
    transition: all 0.3s;
}

@media(max-width:1014px) {
    .messengers__text {
        display: none;
    }
}

@media(any-hover:hover) {

    .navigation__link:hover,
    .languages__link:hover {
        color: #FFBC57;
    }

    .languages__link:hover {
        text-decoration: underline;
    }

    .messengers__item:hover {
        transform: scale(1.1);
    }

}

/* MIDDLE header */
.header__middle {
    background-color: #FFFFFF;
}

.header__middle-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.burger-menu {
    flex-shrink: 0;
    position: relative;
    width: 46px;
    height: 5px;
    background-color: #535353;
    border-radius: 8px;
}

.burger-menu::before,
.burger-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 8px;
}



.burger-menu::before {
    bottom: 15px;
}

.burger-menu::after {
    top: 15px;
}

.logo {
    flex-basis: 250px;
    height: 50px;
    flex-shrink: 0;
    background: url("../img/icons/logo-header.svg") center/contain no-repeat;
}

.header__middle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.header__middle-btn {
    flex-shrink: 0;
}

.header__middle-btn.btn--icon::before {
    background-image: url("../img/icons/menu-catalog.svg");
}

.search-form {
    flex-basis: 421px;
    min-height: 50px;
    min-width: 50px;
    position: relative;
}

.search-form__input {
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    padding: 10px 40px 10px 15px;
    min-width: 50px;
}

.search-form__input:focus {
    border-color: #FFBC57;
}

.search-form__input::placeholder {
    color: #B1B1B1;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
}

.search-form__input::-webkit-search-cancel-button {
    /* background-color: #2B2929; */
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url("../img/icons/cancel-button.svg") center/contain no-repeat;
}

.search-form__btn {
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
}

.search-form__icon {
    width: 100%;
    object-fit: contain;
}

.header__middle-contacts {}

.contacts {
    flex-basis: auto;
    flex-shrink: 0;

}

.contacts__content-wrapper {
    display: flex;
    column-gap: 10px;
}

.contacts__content-wrapper::before {
    content: "";
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background: url("../img/icons/icon-tel.svg") center/ contain no-repeat;
}

.contacts__content-wrapper::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icons/arrow.svg") center/contain no-repeat;
}

.contacts__content {
    width: 136px;
    overflow: hidden;
}


.contacts__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    color: #535353;
}

.contacts__tel-list {
    font-size: 20px;
    line-height: 1.4;
    height: 28px;
}

.contacts__tel-number {}

.contacts__tel-link {}

.header__user-preferences {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    flex-basis: 120px;

}

.user-preferences {}

.user-preferences__link {}

.user-preferences__image {}

@media(max-width:1014px) {

    .contacts__content,
    .contacts__content-wrapper::after {
        display: none;
    }
}

@media(max-width:991.98px) {
    .search-form__input {
        display: none;
    }

    .search-form__btn {
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #FFBC57;

    }

    .search-form__icon {
        width: 50%;
    }
}

@media(max-width:767.98px) {
    .search-form__input::placeholder {
        opacity: 0;
    }
}

@media(any-hover:hover) {}

/* Footer */
.footer {
    background-color: #2B2929;
    color: #F8F8F8;
}

.footer__copyright {
    color: #B1B1B1;
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
}