@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "ProximaNova", sans-serif;
    font-size: 19px;
    line-height: 1.26;
    font-weight: 600;
    color: #2B2929;
    background-color: #f8f8f8;
    user-select: none;
}

body *:focus-visible {
    outline: 2px double #FFBC57;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class$="container"] {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 15px;
}

@media(max-width:991.98px) and (min-width:404.98px) {
    [class$="container"] {
        padding-left: 35px;
        padding-right: 35px;
    }
}


/*burger-menu-btn  */
.burger-menu {
    width: 50px;
    height: 50px;
    padding: 8px 6px;
    display: none;
}

.burger-menu__icon {
    display: flex;
    align-items: center;
    height: 100%;
}

.burger-menu span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #535353;
    border-radius: 8px;
}

.burger-menu span::before,
.burger-menu span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #535353;
    border-radius: 8px;
}

.burger-menu span::before {
    bottom: -200%;
}

.burger-menu span::after {
    top: -200%
}

@media(max-width:404.98px) {
    .burger-menu {
        width: 40px;
        height: 40px;
        padding: 6px 4px;
    }

}

/* button */

.btn {
    min-width: 100px;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 11px 20px;
    line-height: 1;
    transition: background-color 0.3s;
}

.btn--yellow {
    background-color: #FFBC57;
    color: #FFFFFF;
}

.btn--icon::before {
    content: "";
    width: 24px;
    height: 24px;
    background: transparent center / contain no-repeat;
}

@media(any-hover:hover) {
    .btn:hover {
        background-color: #f7a427;
    }
}

/* ----------------------- */
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
}


/* TOP header */
.header__top {
    background-color: #f8f8f8;
}

.header__top-container {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #535353;
    display: flex;
    justify-content: space-between;
    gap: 10px 30px;
}

.navigation {
    flex-basis: 560px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.navigation__link {
    transition: color 0.3s;
}

@media(max-width:991.98px) {
    .navigation__list {
        column-gap: 15px;
    }
}

@media(max-width:767.98px) {
    .header__top {
        display: none;
    }
}

.header__top-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px 30px;
}

.messengers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.messengers__list {
    display: flex;
    column-gap: 10px;
}

.messengers__item {
    flex-basis: 30px;
    flex-shrink: 0;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.messengers__link {
    width: 100%;
    height: 100%;
}

.messengers__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.languages {
    position: relative;
}

.languages:has(>.languages__list:target) .languages__choice-link::after {
    transform: rotate(-90deg);
}

.languages__choice-link {
    display: flex;
    align-items: center;
}

.languages__choice-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/icons/arrow.svg") center / contain no-repeat;
    transition: transform 0.3s;
}

.languages__list {
    position: absolute;
    left: 0;
    top: 115%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #b8b5b5;
    display: none;
    background-color: #FFFFFF;
    z-index: 5;
}

.languages__list:target {
    display: block;
}

.languages__item:not(:last-child) {
    margin-bottom: 5px;
}

.languages__link {
    transition: all 0.3s;
}

@media(max-width:1014px) {
    .messengers__text {
        display: none;
    }
}

@media(any-hover:hover) {

    .navigation__link:hover,
    .languages__link:hover {
        color: #FFBC57;
    }

    .languages__link:hover {
        text-decoration: underline;
    }

    .messengers__item:hover {
        transform: scale(1.1);
    }

}

/* MIDDLE header */
.header__middle {
    background-color: #FFFFFF;
    border-bottom: 2px solid #F8F8F8;
}

.header__middle-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px 20px;
    position: relative;
}

.header__logo {
    flex-basis: 250px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 14px;
    background: url("../img/icons/logo-header.svg") center / contain no-repeat;
}

.header__middle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    position: relative;
}

.header__middle-btn {
    flex-shrink: 0;
    order: 1;
}

.header__middle-btn.btn--icon::before {
    background-image: url("../img/icons/menu-catalog.svg");
}

.search-form {
    flex-grow: 1;
    min-height: 50px;
    min-width: 50px;
    position: relative;
    order: 3;
}

.search-form__input {
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    padding: 10px 40px 10px 15px;
    min-width: 50px;
    height: 50px;
}

.search-form__input:focus {
    border-color: #FFBC57;
}

.search-form__input::placeholder {
    color: #B1B1B1;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
}

.search-form__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url("../img/icons/cancel-button.svg") center/contain no-repeat;
}

.search-form__btn {
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.search-form__icon {
    width: 100%;
    object-fit: contain;
}


.search-active {
    order: 3;
    flex-shrink: 0;
    display: none;
}

.search-active__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFBC57;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.search-active__icon {
    width: 55%;
    object-fit: contain;
}

.header__middle-contacts {
    display: none;
}

.header__middle-main-contacts {
    order: 4;
}

.contacts {
    align-self: flex-start;
    flex-basis: 230px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    z-index: 6;

}

.contacts.active {
    overflow: visible;
}

.contacts__content-wrapper {
    display: flex;
    gap: 10px;
    transition: box-shadow 0.3s;
}


.contacts__content-wrapper::before {
    content: "";
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background: url("../img/icons/icon-tel.svg") center/ contain no-repeat;
}

.active .contacts__content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 270px;
    height: 204px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-20px, -20px);
}

.contacts__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    color: #535353;
}

.contacts__tel-list {
    font-size: 20px;
    line-height: 1.4;
    height: 28px;
    position: relative;
}

.contacts__tel-list::after {
    content: "";
    position: absolute;
    right: -8px;
    top: -9px;
    width: 24px;
    height: 24px;
    background: url("../img/icons/arrow.svg") center/contain no-repeat;
    transition: transform 0.3s;
}

.active .contacts__tel-list::after {
    background-image: url("../img/icons/cancel-button.svg");
}

.contacts__tel-number:not(:last-child) {
    margin-bottom: 10px;
}

.contacts__tel-number:last-child {
    font-size: 19px;
    line-height: 1.263;
}

.contacts__tel-link {
    transition: color 0.3s;
}

@media (any-hover:hover) {
    .contacts__tel-list:hover::after {
        transform: scale(1.1);
    }

    .contacts__tel-link:hover {
        color: #FFBC57;
    }

    .contacts__content-wrapper:hover::before {
        border: 2px solid #FFBC57;
    }
}

.header__user-preferences {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.user-preferences {
    order: 5;
}

.user-preferences__link {
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.user-preferences__image {
    width: 100%;
    object-fit: contain;
}

@media(max-width:1047px) {
    .contacts {
        flex-basis: 50px;
    }

    .contacts__content {
        display: none;
    }

    .contacts__content-wrapper::before {
        align-self: flex-end;
    }

    .active .contacts__content {
        display: block;
    }

    .active .contacts__content-wrapper {
        flex-direction: column;
        height: 250px;
        width: 220px;
    }

    .active .contacts__content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-70%, -20px);
    }
}


@media(max-width:872px) {
    .header__middle-wrapper {
        flex-wrap: wrap;
    }

    .header__middle-main-contacts {
        order: 6;
    }

    .search-form {
        order: 7;
        display: none;
    }

    .search-form.active {
        flex-basis: 100%;
        flex-shrink: 0;
        display: block;
    }

    .search-active {
        display: block;
        margin-left: auto;
    }
}

@media(max-width:767.98px) {
    .header__middle-container {
        padding-bottom: 12px;
    }

    .header__middle-wrapper {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .header__middle-wrapper::before {
        content: "";
        position: absolute;
        top: -14px;
        left: -35px;
        width: 100vw;
        height: 2px;
        background-color: #F8F8F8;
    }

    .search-form__input::placeholder {
        opacity: 0;
    }

    .header__middle-container {
        flex-wrap: wrap;
    }

    .burger-menu {
        display: block;
    }

    .header__logo {
        margin-right: 0;
        flex-basis: 60%;
        flex-grow: 1;
    }

    .header__middle-main-contacts {
        display: none;
    }

    .header__middle-contacts {
        display: block;
        height: 50px;
    }

}


@media(max-width:479.98px) {

    .header__middle-container {
        gap: 20px 10px;
    }

    .header__logo {
        flex-basis: 215px;
        height: 36px;
        margin-right: 0;
    }
}

@media(max-width:404.98px) {
    .header__logo {
        flex-basis: 150px;
    }

    .search-active__btn {
        width: 45px;
        height: 45px;
    }

    .user-preferences {
        flex-basis: 100px;
    }

    .user-preferences__link {
        flex-basis: 45px;
        height: 45px;
    }


    .header__middle-btn.btn--icon::before {
        display: none;
    }

}

@media(any-hover:hover) {
    .search-form__btn:hover {
        transform: scale(1.1);
    }

    .search-active__btn:hover,
    .user-preferences__link:hover {
        background-color: #f4b75b;
    }
}

/* BOTTOM header */
.header__bottom {
    background-color: #FFFFFF;
}

.header__bottom-container {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px 112px;
    color: #535353;
}

.promotions-nav {
    flex-basis: 463px;
    display: flex;

}

.promotions-nav__menu {
    flex-basis: 463px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.promotions-nav__link {
    display: flex;
    align-items: center;
    column-gap: 5px;
}


.promotions-nav__link::before {
    content: "";
    flex-shrink: 0;
    width: 1.2632em;
    height: 1.2632em;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.promotions-nav__link.promotions-nav__link--star::before {
    background-image: url("../img/icons/star.svg");
}

.promotions-nav__link.promotions-nav__link--sales::before {
    background-image: url("../img/icons/sale.svg");
}

.promotions-nav__link.promotions-nav__link--credit::before {
    background-image: url("../img/icons/credit.svg");
}

.products-nav {
    flex-basis: 715px;
    flex-grow: 1;
}

.products-nav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px
}

.products-nav__link {
    transition: color 0.3s;
}

@media(max-width:767.98px) {
    .header__bottom {
        display: none;
    }
}

@media(any-hover:hover) {

    .promotions-nav__link:hover,
    .products-nav__link:hover {
        color: #FFBC57;
    }

    .promotions-nav__link:hover::before {
        transform: rotate(360deg);
    }


}

/* Footer */
.footer {
    background-color: #2B2929;
    color: #F8F8F8;
}

.footer__copyright {
    color: #B1B1B1;
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
}