.brand-banner {
    min-height: 776px;
    background: url("../img/brand-banner/bg.png") top right / cover no-repeat;

    &__container {
        padding-top: adaptiveSize(190, 233); /*233px*/
        padding-bottom: adaptiveSize(76, 93); /*93px*/
        display: flex;
        justify-content: flex-end;
    }
    // .brand-banner__content

    &__content {
        flex-basis: 504px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 55px;
        margin-right: 33px;
        @media (max-width: $smallMobile) {
            margin-right: 33px;
        }
    }

    // .brand-banner__title

    &__title {
        display: flex;
        font-size: adaptiveSize(30, 60);

        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: toPercent(161, 191);
            bottom: toPercent(-45, 81);
            width: toPercent(732, 191);
            height: toPercent(309, 81);
            background: url("../img/brand-banner/Zara_Logo-shadow.png") 0 0 / contain no-repeat;
        }
    }

    // .brand-banner__title-text

    &__title-text {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
    }

    // .brand-banner__logo

    &__logo {
        width: 191px;
        height: 81px;
    }

    // .brand-banner__text

    &__text {
        font-size: adaptiveSize(20, 26);
        line-height: 1.538;
        text-transform: capitalize;
        color: $whiteTextColor;
    }

    // .brand-banner__link

    &__link {
        flex-shrink: 0;
        min-width: max-content;
        padding: 19px 26px;
        color: $darkColor;
        font-size: adaptiveSize(18, 29);
        background-color: $whiteTextColor;
        text-transform: capitalize;
        transition: background-color 0.3s;
        @media (any-hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}
