.collections {
    padding: adaptiveSize(40, 80) 0;
    background-color: $darkColor-05;
    background-image: url("../img/decor/small-leaves.svg"), url("../img/decor/big-leaves.svg");
    background-position:
        left toPercent(470, 562),
        right toPercent(395, 562);
    background-repeat: no-repeat, no-repeat;

    // .collections__container

    &__container {
        display: flex;
        gap: adaptiveSize(60, 98);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            // row-gap: 50px;
            justify-content: center;
        }
    }

    // .collections__content

    &__content {
        flex-basis: 682px;
        padding-top: adaptiveSize(32, 74);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 52px;
    }

    // .collections__title

    &__title {
        font-size: adaptiveSize(36, 72);
        font-weight: 300;
        text-transform: capitalize;
    }

    // .collections__text

    &__text {
        font-size: adaptiveSize(20, 30);
        line-height: 1.83;
        text-transform: capitalize;
    }

    // .collections__link

    &__link {
        padding: 19px 26px;
        font-size: adaptiveSize(18, 29);
        text-transform: capitalize;
        color: $whiteTextColor;
        background-color: $darkColor;
        display: flex;
        align-items: center;
        column-gap: 8px;
        position: relative;
        transition: background-color 0.3s;
        &:not(:first-child) {
            margin-top: 14px;
        }
        &::before {
            content: "";
            width: 1.03em;
            height: 1.03em;
            background: url("../img/icons/bag.svg") center / contain no-repeat;
        }
        @media (any-hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }

    // .collections__img-block

    &__img-block {
        flex-basis: adaptiveSize(276, 424);
        height: adaptiveSize(352, 542);
        flex-shrink: 0;
        margin-right: 20px;
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 160px 0;
            position: absolute;
            top: 20px;
            left: 18px;
            z-index: -1;
            border: 2px solid $lightColor-25;
        }
    }

    // .collections__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 424 / 542;
        border-radius: 160px 0;
    }
}
