.products {
    padding: toVW(140) 0;
    // .products__container

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }

    // .products__title

    &__title {
        @extend %sectionTitle;
    }
    &__collection {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 24px;
    }
}

.filters {
    display: flex;
    column-gap: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    // .filters__categories-filter

    &__categories-filter {
        flex-grow: 1;
    }

    // .filters__expanded-filter-btn

    &__expanded-filter-btn {
        align-self: flex-start;
        padding: 6px 15px;
        background-color: $darkColor;
        color: $whiteTextColor;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        column-gap: 4px;
        transition: background-color 0.3s;
        &::before {
            content: "";
            width: 1.25em;
            height: 1.25em;
            background: url("../../img/icons/filter.svg") center / contain no-repeat;
        }
        @media (any-hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}
.categories-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 40px;

    // .categories-filter__item

    &__item {
    }

    // .categories-filter__btn

    &__btn {
        font-weight: 600;
        color: $lightColor;
        text-transform: capitalize;
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $primaryColor;
            }
        }
    }

    // .categories-filter__btn--active

    &__btn--active {
        color: $blackTextColor;
    }
}
.product {
    font-family: "Open Sans", sans-serif;
    flex: 0 1 312px;
    min-height: 478px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    position: relative;

    &__lables-block {
        position: absolute;
        top: 22px;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &__label {
        @include fontParams(12px, 600);
        text-transform: uppercase;
        color: $whiteTextColor;
        padding: 4px 12px;
        &--sale {
            background-color: $darkColor;
        }
        &--hot {
            background-color: $primaryColor;
        }
    }

    // .product__img-block

    &__img-block {
        width: 100%;
        height: 400px;
        background-color: $darkColor-05;
        // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
    }

    // .product__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 312 / 400;
    }
    // .product__actions

    &__actions {
        width: 100%;
        padding: 15px 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px 21px;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 55px;
        background-color: $darkColor;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s;
        @media (any-hover) {
            .product__img-block:hover & {
                visibility: visible;
                opacity: 1;
                pointer-events: painted;
            }
        }
    }

    // .product__btn

    &__btn {
        font-size: 18px;
        text-transform: capitalize;
        color: $whiteTextColor;
        display: flex;
        gap: 8px;
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $primaryColor;
                & .product__btn-icon {
                    fill: $primaryColor;
                }
            }
        }
    }

    // .product__btn--shop

    &__btn--shop {
        margin-left: auto;
    }
    &__btn-icon {
        width: 1.11em;
        height: 1.11em;
        fill: $whiteTextColor;
        transition: fill 0.3s;
    }

    // .product__info-block

    &__info-block {
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 16px 12px;
        text-transform: capitalize;
    }

    // .product__title

    &__title {
        width: 100%;
        font-weight: 600;
    }

    // .product__category

    &__category {
        flex-basis: 50%;
        flex-grow: 1;
        color: $lightColor;
    }

    &__price-block {
        flex-basis: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        column-gap: 12px;
        margin-left: auto;
    }
    // .product__price

    &__price {
        font-weight: 600;

        &--red {
            color: $primaryColor;
        }
        &--gray {
            color: $lightColor;
        }
        &--crossed-out {
            text-decoration: line-through;
            text-decoration-color: $lightColor;
            font-size: 14px;
        }
    }
}
