.styles {
    // .styles__container

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 5px;
    }

    // .styles__title

    &__title {
        font-size: 34px;
        flex-basis: 55px;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-left: -60px;
    }

    // .styles__presentation

    &__presentation {
        min-height: 648px;
        width: 100%;
        display: grid;
        gap: 24px;
        $cellWidth: toVW(312, $maxWidth);
        grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
        grid-template-rows: minmax(312px, 1fr);
        grid-auto-rows: minmax(312px, 1fr);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}
.presentation {
    // .presentation__item
    &__item {
        position: relative;
        &:nth-child(5n-4) {
            grid-row: span 2;
            grid-column: span 2;
            background-color: aqua;
            @media (max-width: $mobile) {
                grid-row: span 1;
                grid-column: span 1;
            }
        }
        @media (any-hover) {
            &:hover .presentation__info-block {
                opacity: 1;
            }
        }
    }

    // .presentation__image4

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    &__lables-block {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 22px;
    }

    // .presentation__lable

    &__lable {
        font-family: "Open Sans", sans-serif;
        @include fontParams(12px, 600, 1.2);
        text-transform: uppercase;
        padding: 4px 12px;
        background-color: $darkColor;
        color: $whiteTextColor;
    }

    // .presentation__info-block

    &__info-block {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        color: $whiteTextColor;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 14px;
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 5px;
        align-items: flex-end;
        background-color: $darkColor;
        opacity: 0;
        transition: opacity 0.3s;
    }

    // .presentation__category

    &__category {
        max-width: 70%;
    }

    // .presentation__count

    &__count {
        flex-grow: 1;
        text-align: end;
    }

    // .presentation__name

    &__name {
    }
}
