.styles {
    // .styles__container

    &__container {
        display: flex;
        position: relative;
    }

    // .styles__title

    &__title {
        font-size: 34px;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        position: absolute;
        right: calc(100% - 15px);
        top: 0;
    }

    // .styles__presentation

    &__presentation {
        min-height: 648px;
        width: 100%;
        display: grid;
        gap: 24px;
        $cellWidth: toVW(312, $maxWidth);
        grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
        grid-template-rows: minmax(312px, 1fr);
        grid-auto-rows: minmax(312px, 1fr);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}
.presentation {
    // .presentation__item

    &__item:nth-child(5n-4) {
        grid-row: span 2;
        grid-column: span 2;
        background-color: aqua;
        @media (max-width: $mobile) {
            grid-row: span 1;
            grid-column: span 1;
        }
    }

    // .presentation__image4

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    // .presentation__lable

    &__lable {
    }
}
