.subscriptions {
    padding: 100px 0;
    background-color: $darkColor-05;

    // .subscriptions__container

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 60px;
    }

    // .subscriptions__title

    &__title {
    }

    // .subscriptions__instagram-collection

    &__instagram-collection {
    }
    &__form {
        width: toPercent(760, $containerWidth);

        @media (max-width: $mobile) {
            width: 90%;
        }
    }
}

.instagram-collection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    // .instagram-collection__item

    &__item {
        flex: 0 0 200px;
        height: 200px;
        position: relative;
    }

    // .instagram-collection__link

    &__link {
        width: 100%;
        height: 100%;
        mask: url("../../img/icons/instagram.svg") center / toPercent(48, 200) toPercent(48, 200) no-repeat;
        transition: background-color 0.3s;
        @media (any-hover) {
            &:hover {
                background-color: $whiteTextColor;
            }
        }
    }

    // .instagram-collection__image

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
