@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "AmstelvarAlpha";
  src: url("../fonts/AmstelvarAlpha.woff") format("woff"), url("../fonts/AmstelvarAlpha.ttf") format("truetype");
  font-weight: 400;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.products__title {
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  background-color: rgba(30, 40, 50, 0.05);
  position: sticky;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.header__top {
  padding: 31px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.header__top:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}
.search-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25px;
  height: 25px;
  background-color: #1e2832;
  -webkit-mask: url("../img/icons/search.svg") center/contain no-repeat;
          mask: url("../img/icons/search.svg") center/contain no-repeat;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover) {
  .search-btn:hover {
    background-color: #ff6f61;
  }
}

.logo {
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  margin-left: 10.3125vw;
  font-family: "AmstelvarAlpha", serif;
  font-size: 28px;
  color: #000000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.logo::before, .logo::after {
  content: "";
  width: 31px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../../img/decor/logo-decor.svg") center/contain no-repeat;
}
@media (max-width: 991.98px) {
  .logo {
    margin-left: 0;
  }
}

.actions {
  font-size: 18px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.actions__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media (any-hover) {
  .actions__link:hover .actions__text {
    color: #ff6f61;
  }
  .actions__link:hover .actions__img {
    fill: #ff6f61;
  }
}
.actions__img {
  width: 20px;
  height: 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #1e2832;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.actions__text {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 991.98px) {
  .actions__text {
    display: none;
  }
}

.navigation__list {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.navigation__link {
  -webkit-transition: color;
  transition: color;
}
@media (any-hover) {
  .navigation__link:hover {
    color: #ff6f61;
  }
}

.collections {
  padding: 80px 0;
  background-color: rgba(30, 40, 50, 0.05);
  background-image: url("../../img/decor/small-leaves.svg"), url("../../img/decor/big-leaves.svg");
  background-position: left 83.6298932384%, right 70.2846975089%;
  background-repeat: no-repeat, no-repeat;
}
.collections__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.1041666667vw;
}
.collections__content {
  -ms-flex-preferred-size: 682px;
      flex-basis: 682px;
  padding-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 52px;
}
.collections__title {
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  text-transform: capitalize;
}
.collections__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.83;
  text-transform: capitalize;
}
.collections__link {
  padding: 19px 26px;
  font-size: 29px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #1e2832;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.collections__link:not(:first-child) {
  margin-top: 14px;
}
.collections__link::before {
  content: "";
  width: 1.03em;
  height: 1.03em;
  background: url("../../img/icons/bag.svg") center/contain no-repeat;
}
@media (any-hover) {
  .collections__link:hover {
    background-color: #ff6f61;
  }
}
.collections__img-block {
  -ms-flex-preferred-size: 424px;
      flex-basis: 424px;
  min-width: 400px;
  height: 542px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  position: relative;
}
.collections__img-block::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 160px 0;
  position: absolute;
  top: 20px;
  left: 18px;
  z-index: -1;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.collections__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 424/542;
  border-radius: 160px 0;
}

.brands__container {
  padding-top: 90px;
  padding-bottom: 90px;
}
.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brands__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  height: 70px;
}
.brands__link {
  width: 100%;
  height: 100%;
}
.brands__link:hover:hover img {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(4%) saturate(3875%) hue-rotate(169deg) brightness(90%) contrast(85%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(4%) saturate(3875%) hue-rotate(169deg) brightness(90%) contrast(85%);
}
.brands__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.styles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}
.styles__title {
  font-size: 34px;
  -ms-flex-preferred-size: 55px;
      flex-basis: 55px;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: -60px;
}
.styles__presentation {
  min-height: 648px;
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  grid-template-rows: minmax(312px, 1fr);
  grid-auto-rows: minmax(312px, 1fr);
}
@media (max-width: 767.98px) {
  .styles__presentation {
    grid-template-columns: 1fr;
  }
}

.presentation__item {
  position: relative;
}
.presentation__item:nth-child(5n-4) {
  grid-row: span 2;
  grid-column: span 2;
  background-color: aqua;
}
@media (max-width: 767.98px) {
  .presentation__item:nth-child(5n-4) {
    grid-row: span 1;
    grid-column: span 1;
  }
}
.presentation__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.presentation__lables-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 22px;
}
.presentation__lable {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 4px 12px;
  background-color: #1e2832;
  color: #ffffff;
}

.products {
  padding: 7.2916666667vw 0;
}
.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.products__collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 24px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.filters__categories-filter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.filters__expanded-filter-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 6px 15px;
  background-color: #1e2832;
  color: #ffffff;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.filters__expanded-filter-btn::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  background: url("../../img/icons/filter.svg") center/contain no-repeat;
}
@media (any-hover) {
  .filters__expanded-filter-btn:hover {
    background-color: #ff6f61;
  }
}

.categories-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 40px;
}
.categories-filter__btn {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover) {
  .categories-filter__btn:hover {
    color: #ff6f61;
  }
}
.categories-filter__btn--active {
  color: #000000;
}

.product {
  font-family: "Open Sans", sans-serif;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 312px;
          flex: 0 1 312px;
  min-height: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
  position: relative;
}
.product__lables-block {
  position: absolute;
  top: 22px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.product__label {
  font-size: 12px;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
  color: #ffffff;
  padding: 4px 12px;
}
.product__label--sale {
  background-color: #1e2832;
}
.product__label--hot {
  background-color: #ff6f61;
}
.product__img-block {
  width: 100%;
  height: 400px;
  background-color: rgba(30, 40, 50, 0.05);
  position: relative;
}
.product__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 312/400;
}
.product__actions {
  width: 100%;
  padding: 15px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 21px;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 55px;
  background-color: #1e2832;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover) {
  .product__img-block:hover .product__actions {
    visibility: visible;
    opacity: 1;
    pointer-events: painted;
  }
}
.product__btn {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover) {
  .product__btn:hover {
    color: #ff6f61;
  }
  .product__btn:hover .product__btn-icon {
    fill: #ff6f61;
  }
}
.product__btn--shop {
  margin-left: auto;
}
.product__btn-icon {
  width: 1.11em;
  height: 1.11em;
  fill: #ffffff;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.product__info-block {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 12px;
  text-transform: capitalize;
}
.product__title {
  width: 100%;
  font-weight: 600;
}
.product__category {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: rgba(0, 0, 0, 0.5);
}
.product__price-block {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin-left: auto;
}
.product__price {
  font-weight: 600;
}
.product__price--red {
  color: #ff6f61;
}
.product__price--gray {
  color: rgba(0, 0, 0, 0.5);
}
.product__price--crossed-out {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}