.footer {
    // .footer__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: toRem(14);
        font-weight: 600;
        line-height: 1.714;
    }
}
