@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "functions";
@import "mixins";

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    line-height: 1.56;
    font-weight: 500;
    color: $mainTextColor;
    &:has(.navigation.opened) {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class$="__container"] {
    max-width: toRem($containerWidth);
    padding-left: toRem(15);
    padding-right: toRem(15);
    margin: 0 auto;
}

@import "header";
@import "main";
@import "footer";
