@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "Proxima Nova", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    /* 24/19 */
    color: #2B2929;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class$="__container"] {
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 10px;
}

.header {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

.header__pannel {
    position: relative;
    padding: 25px 0;
}

.header__pannel>* {
    margin-right: 30px;

}

.header__pannel>*:last-child {
    margin-right: 0;
}

.logo {
    vertical-align: top;
    margin-right: 34px;
}

.button {
    padding: 11px 20px;
    background-color: #FFBC57;
    color: #FFFFFF;
    border-radius: 8px;
    min-width: 145px;
    transition: all 0.3s;
}

.button::before {
    content: url("../img/icons/menu-catalog.svg");
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: sub;
}

.button:hover {
    background-color: #FFBC57;
}

.button:active {
    box-shadow: inset 0 0 15px 1px #c6882c;
}

.button:active::before {
    content: url("../img/icons/close-catalog.svg");
}

.catalog {
    position: absolute;
    top: 108%;
    left: 0;
    width: fit-content;
    display: none;
    border: 1px solid gray;
    border-radius: 8px;
}

.catalog:has(.main-menu__item:hover) {
    width: 48.3%;
    /* 623/1290 */
}

.catalog:target {
    display: block;
}

.main-menu {
    display: inline-block;
    padding: 8px 0;
}

.main-menu__list {
    position: relative;
    min-width: 300px;
}

.main-menu__item {

    font-size: 20px;
    line-height: 1.4;
    /* 28/20 */
    background-color: #FFFFFF;
}


.main-menu__link {
    padding: 10px 39px 10px 30px;
    width: 100%;
    position: relative;
}

.main-menu__link>* {
    margin-right: 15px;
}

.main-menu__item:hover .main-menu__link {
    background-color: #FFBC57;
}

.main-menu__link::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 30%;
    background: url("../img/icons/arrow-left.svg")center/cover no-repeat;
    vertical-align: middle;
}

.main-menu__link:hover:after {
    background-image: url("../img/icons/arrow-left-gray.svg");
}

.main-menu__item:hover .sub-menu {
    display: block;
}


.main-menu__item-text {
    display: inline-block;
    min-width: 53.67%;
    vertical-align: sub;
}

.sub-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 19px;
    line-height: 2.1;
    font-weight: 400;
    min-width: 107.67%;
    height: 100%;
    overflow-y: auto;
    border-radius: 0 8px 8px 0;
    border-left: 5px solid #FFBC57;
    padding: 12px 20px 12px 30px;
    display: none;
}

.sub-menu__item:hover {
    background-color: #FFBC57;
}