@import url("fonts.css");
@import url("reset.css");


body {
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    color: #2b2929;
}

[class*="container"] {
    margin: 0 auto;
    padding: 0 10px;
}

[class$="container-1290"] {
    max-width: 68.23%;
    /*(1290+20)/1920*/
}

[class$="container-1320"] {
    max-width: 69.79%;
    /*(1320+20)/1920*/
}

.header {
    padding: 25px 0;
}

.page {
    background-color: #f8f8f8;
}

.decoration-section__title,
.choice-section__title,
.services-section__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.decoration-section {
    padding: 42px 7.75% 38px 9.3%;
}

.decoration-section__title,
.decoration-section__image,
.decoration-section__text,
.decoration-section__furniture {
    margin-bottom: 40px;
}


.decoration-section__image {
    width: 100%;
}

.decoration-section__text p+p {
    margin-top: 14px;
}

.decoration-section__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
}

.furniture__list li+li {
    margin-top: 20px;
}

.furniture__item {
    padding-left: 47px;
    background: url("../img/furniture-icon.svg") 2.5px 2.5px / 32px 32px no-repeat;
}

.decoration-section__summary {
    margin-top: 40px;
}

.services-section {
    overflow: hidden;
}

.services-section__title {
    text-align: center;
    margin-bottom: 40px;
}

.services-section__title span {
    text-transform: uppercase;
}

.services-section__list {
    font-size: 0;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.services__item {
    display: inline-block;
    width: 23.26%;
    min-width: 250px;
    min-height: 484px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.service__card {
    padding-left: 15px;
    padding-right: 15px;
}

.service {
    vertical-align: top;
}

.service .service__card img~* {
    margin-top: 20px;
}

.service__image {
    width: 56.67%;
}

.service__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
}

.discount-section {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 100px 0;
    background-color: rgba(30, 40, 50, 0.05);
}

.discount-section__title {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 60px;
}

.wrapper {
    margin: 0 -12px;
    font-size: 0;
    text-align: center;
}

.discount-section__link {
    display: inline-block;
    padding: 0 12px;
    margin-bottom: 24px;
    width: 15.15%;
    min-width: 150px;
}

.discount-section__image {
    width: 100%
}

.footer {
    padding: 30px 0;
}