.about {
    padding-top: 5.29vw;
    padding-bottom: 6.61vw;
    @media (max-width: $mobile) {
        padding: 0;
    }
    &__wrapper {
        background:
            linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%),
            url("../img/about-section/bg.png") #d3d3d3 0 0 / cover no-repeat;
    }

    // .about__container
    &__container {
        padding-top: 120px;
        padding-bottom: 120px;
        @media (max-width: $mobile) {
            padding-top: 20px;
            padding-bottom: 25px;
        }
    }

    // .about__content

    &__content {
        margin: 0 auto;
        max-width: toPercent(1150, $containerWidth);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 60px;
        @media (max-width: $laptop) {
            row-gap: 40px;
        }
        @media (max-width: $mobile) {
            row-gap: 20px;
        }
    }
    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        @media (max-width: $mobile) {
            row-gap: 20px;
        }
    }

    // .about__title

    &__title {
        &::after {
            left: -16.61%;
        }
    }

    // .about__text

    &__text {
        line-height: 2.222;
        letter-spacing: -0.36px;
        text-transform: capitalize;
        text-align: center;
        max-width: 992px;
    }

    // .about__experiences

    &__experiences {
    }
}

.experiences {
    // .experiences__list
    max-width: 100%;
    overflow: hidden;
    display: flex;
    @media (max-width: 860px) {
        padding: 40px 0;
    }
    @media (max-width: $mobile) {
        font-size: 1em;
        line-height: inherit;
    }

    &__list {
        font-family: "Orbitron", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.25;
        text-transform: capitalize;
        width: max-content;
        display: flex;
        align-items: center;
        column-gap: 60px;
        animation: runnin-line 10s infinite linear backwards;
        @media (max-width: $mobile) {
            font-size: 1em;
            line-height: inherit;
        }
        @keyframes runnin-line {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }

    // .experiences__item

    &__item {
        min-width: max-content;
        display: flex;
        align-items: center;
        column-gap: 60px;

        &:not(:last-child):after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $gradient;
            flex-shrink: 0;
        }
    }

    // .experiences__link

    &__link {
    }
}
