$heroPectureWidth: 616;
.hero {
    &__header {
        padding-top: 23px;
    }
    // .hero__wrapper

    &__wrapper {
        padding-top: 7.94vw;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 480px;
            height: 480px;
            border-radius: 480px;
            opacity: 0.3;
            background: linear-gradient(
                90deg,
                rgba(151, 0, 255, 0.6) 0%,
                rgba(87, 255, 28, 0.6) 36.9%,
                rgba(255, 0, 0, 0.6) 67.4%,
                rgba(0, 56, 255, 0.6) 100%
            );
            filter: blur(50px);
        }
        &::before {
            left: -150px;
            top: -114px;
        }
        &::after {
            right: -74px;
            bottom: -135px;
        }
    }

    // .hero__container

    &__container {
        max-height: 508px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 20px;
    }

    // .hero__content

    &__content {
        flex-basis: toPercent(584, $maxWidthContainer);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        @media (max-width: 860px) {
            flex-grow: 1;
        }
        @media (max-width: $mobile) {
            row-gap: 12px;
        }
    }

    // .hero__subtitle

    &__subtitle {
        line-height: 1.11;
        letter-spacing: -0.36px;
        text-transform: uppercase;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
            @media (max-width: $mobile) {
                margin-bottom: 4px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 126.67%;
            height: 1px;
            background: $gradient;
            @media (max-width: $mobile) {
                bottom: -4px;
            }
        }
        @media (max-width: $mobile) {
            row-gap: 12px;
        }
    }

    // .hero__title

    &__title {
        // font-size: 80px;
        font-size: adaptiveSize(32, 80, 320, $maxWidth);
        font-weight: 700;
        text-transform: uppercase;
    }

    // .hero__text

    &__text {
        line-height: 2.22;
        letter-spacing: -0.36px;
        text-transform: capitalize;
    }

    // .hero__btn

    &__btn {
        padding: 15px 60px;
        background-color: $mainBrightColor;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-size: 20px;
        font-weight: 900;
        transition:
            background-color 0.3s,
            box-shadow 0.3s;
        @media (max-width: $mobile) {
            padding: 8px 40px;
            line-height: 1.428;
        }
        @media (any-hover: hover) {
            background-color: $mainBrightColorHover;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }

    &__image-block {
        flex-basis: toPercent($heroPectureWidth, $maxWidthContainer);
        display: flex;
        justify-content: flex-end;
        @media (max-width: 860px) {
            flex-basis: 200px;
        }
    }

    // .hero__picture

    &__picture {
        flex-basis: 616px; /*616px*/
        height: 100%;
        flex-shrink: 0;
        margin-right: -57px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 12px;
        position: relative;
        @media (max-width: 1190px) {
            flex-shrink: 1;
        }
        @media (max-width: $tablet) {
            flex-shrink: 1;
            margin-right: 0;
        }
    }

    // .hero__img

    &__img {
    }

    // .hero__img--pr
    &__image-wrap--pr {
        width: toPercent(110, $heroPectureWidth);
        height: toPercent(136, $heroPectureWidth);
        position: absolute;
        top: 22px;
        left: 56px;
        z-index: 2;
    }
    &__image-wrap--pr &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(-45deg);
    }

    // .hero__img--ar
    &__image-wrap--ar {
        width: toPercent(70, $heroPectureWidth);
        height: toPercent(80, $heroPectureWidth);
        position: absolute;
        top: 86px;
        right: 82px;
        z-index: 2;
    }
    &__image-wrap--ar &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(30deg);
    }

    // .hero__img--man
    &__image-wrap--man {
        width: toPercent(376, $heroPectureWidth);
        height: 33.6vw;
        max-height: 100%;
        min-height: 260px;
        position: relative;
        z-index: 3;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-image: url("../img/hero-section/lightning-1.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &::before {
            right: 48%;
            width: toPercent(316, 376);
            height: toPercent(354, 508);
            background-position: right top;
        }
        &::after {
            left: 48%;
            width: toPercent(286, 376);
            height: toPercent(322, 508);
            transform: rotateY(180deg);
            background-position: left top;
        }
        @media (max-width: 860px) {
            &::after,
            &::before {
                display: none;
            }
        }
    }
    &__image-wrap--man &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom center;
        aspect-ratio: 376 / 508;
    }

    // .hero__img--lightning-left

    &__image-wrap--lightning-left {
        display: none;
        position: absolute;
        right: -15px;
        bottom: 0;
        z-index: -1;
        @media (max-width: 860px) {
            display: block;
            width: 20.83vw;
            min-width: 98px;
            height: 24.93vw;
            min-height: 109px;
        }
    }
    &__image-wrap--lightning-left &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
