$minWidth: 320;
$maxWidth: 1512;
$maxWidthContainer: 1274;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$mainBrightColor: #6f00a9;
$mainBrightColorHover: #0b0045;
$textColor: #ffffff;
$backgroundColor: #000001;
$headerBackground: rgba(0, 0, 0, 0.8);
$gradient: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 40%, rgba(36, 0, 255, 1) 100%);

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;
