@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "_functions";

body {
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $textColor;
    background-color: $backgroundColor;
    @media (max-width: $mobile) {
        font-size: 14px;
        letter-spacing: -0.28px;
        line-height: 1.07;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class$="__container"] {
    max-width: #{$containerWidth}px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.167;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    &::after {
        content: "";
        width: 133%;
        height: 1px;
        background: $gradient;
        position: absolute;
        bottom: -20px;
        left: 0;
        @media (max-width: $mobile) {
            bottom: -4px;
        }
    }
    @media (max-width: $mobile) {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1.2;
    }
}
@import "header";
@import "main";
@import "footer";
